.login-popup {
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: #00000090;
    display: grid;
}

.login-popup-container {
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s ease;
}

.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.login-popup-title img {
    width: 16px;
    cursor: pointer;
}

.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-inputs input {
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
}

.login-popup-container button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    background-color: tomato;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.login-popup-container button:hover {
    background-color: #e5533d;
}

.login-popup-condition {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    font-size: 12px;
}

.login-popup-condition input {
    margin-top: 3px;
}

.login-popup p span {
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
